.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.list-style {
  list-style: none;
  width: 100%;

  padding: 10px;
}

.profile-icon {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  margin: 10px;
  color: #ffffff;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-icon-name {
  color: #ffffff;
  font-family: roboto;
  margin-bottom: 10px;
  text-align: center;
}

.comment-section {
  display: flex;
  flex-direction: row;
}

.comment-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.name-style {
  font-family: roboto;
  color: #334155;
  font-weight: bold;
}

.comment-style {
  color: #64748b;
  font-family: roboto;
}
.like-del-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.img-btn-style {
  border-width: 0px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
}

.liked-para {
  color: #0ea5e9;
  font-weight: bold;
  margin: 8px;
}

.like-para {
  color: #94a3b8;
  font-weight: bold;
  margin: 8px;
}

.name-time-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.date-style {
  color: #64748b;
  font-family: roboto;
  margin-left: 10px;
}
